# Environment & Secrets
.env
gcp-key.json

# Python & Virtual Environments
__pycache__/
*.pyc
.venv/
venv/
*.log
logs/

# Database Storage & Volumes (Do NOT commit raw DB binaries)
db_data/
airflow_db_data/

# dbt Artifacts
dbt/target/
dbt/dbt_packages/
dbt/logs/
target/
dbt_packages/

# IDE & Tooling
.vscode/
.agents/
dbt/.user.yml
